{% extends "KHSystemApp/base.html" %}
{% block contents %}
 
<hr>
<h5 class="display-5"></h5>
<h5 class="display-5">Tax Authority</h5>
</hr>
<p class="add-icon"><a href="{% url 'taxauthority_insert' %}" class="btn btn-outline-success"> <i class="fas fa-plus"></i></a></p>
<table class="table table-dark table-hover">
    <thead class="border-bottom font-weight-bold">
         <tr>
             <th scope="col">Tax Authority</td>
             <th scope="col">Tax Rate</td>
             <th scope="col">Reimbursement/<br/>Non Reimbursement Case</th>
             <th scope="col">Action  </th>            
         </tr>
    </thead>
    <tbody>
            {% for tx in taxauthorities %}
            <tr>
                <td>{{tx.taxauthority}}</td>
                 <td>{{tx.taxrate}}</td>
                 <td>
                  {% if tx.isReimbursed %}
                   Reimbursement
                  {%else%}
                   Non Reimbursement
                  {%endif%}
                 </td>
                <td> <a href="{% url 'taxauthority_update' tx.id %}" class="btn text-secondary px-0">
                      <i class="fa fa-edit fa-lg"></i></a> 
                      <a href="{% url 'taxauthority_delete' tx.id %}" class="btn text-secondary px-0">
                        <i class="far fa-trash-alt fa-lg text-danger float-right"></i></a> 
                </td>
            </tr>
            {% endfor %}
    </tbody>
</table>
{% endblock contents %}